* {
  font-family: 'Lato', sans-serif;
}

#navbar {
  border-bottom: 1px solid rgba(0,0,0,.0975);
  background-color: white;
  text-align: center;
  margin: auto;
  padding: 20px;
}

body {
  background-color: #fafafa;
}

#main {
  padding-top: 40px;
  text-align: center;
}

.post {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  padding-bottom: 50px;
  border: 1px solid #e6e6e6;
  background-color: white;
}
.postimg {
  margin-top: 10px;
  width: 400px;
}

#logo {
  width:90px;
}

#nameLogo{
  width: 30px;
  color: black;
  border-right: 2px black solid;
  padding-right: 20px;
  margin-right: 10px;
}

#activityIcons {
  display: inline-block;
  margin-left: 500px;
}

i {
  margin-right: 10px;
}

#logoDiv {
  display: inline;
  width: 100%;
}

.postContact {
  max-width: 40px;
  border-radius: 50%;
  display: inline;
  vertical-align: middle;

}

.postCreator {
  font-weight: bold;
  text-align: left;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.postCreatorText {
  font-size: 15px;
  vertical-align: middle;
  margin-left: 10px;
  display: inline;
}

.comment {
}

.post p{
  margin-left: 20px;
  text-align:left;
}

.likes {
  font-weight: bold;
}

.userPostCaption {
  padding: 10px;
  margin: 5px;
  background-color: white;
  text-decoration: none;
  border: 2px solid black;
}

.nextDay {
  display:block;
  padding: 10px;
  margin: 5px;
  background-color: white;
  text-decoration: none;
  border: 2px solid black;
}
